---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/InteractiveNav";
---

<Layout title="SYB Coffee | Woodstock">
  <Nav client:load />
  <main>
    <h1 class="text-blue">Welcome to My Website</h1>
  </main>
  <div class="bg-orangered">orangered</div>
  <div class="bg-royal">royal</div>
  <div class="bg-concrete">concrete</div>
  <div class="bg-slate">slate</div>
  <div class="bg-offwhite">offwhite</div>
</Layout>
