---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/InteractiveNav.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";
---

<Layout title="SYB Coffee | Woodstock">
  <Nav />
  <Hero />
  <About />

  <div class="bg-orangered">orangered</div>
  <div class="bg-royal">royal</div>
  <div class="bg-concrete">concrete</div>
  <div class="bg-slate">slate</div>
  <div class="bg-offwhite">offwhite</div>
  <Footer />
</Layout>
<script>
  //Script for the toggling of the logo color.
  const logo = document.getElementById("logo-button");
  const bg = document.getElementById("logo-background");

  let logoColors = ["bg-royal", "bg-concrete", "bg-slate", "bg-offwhite"];
  let counter = 0;
  logo?.addEventListener("click", () => {
    if (counter === logoColors.length - 1) {
      bg?.classList.remove(logoColors[counter]);
      bg?.classList.add(logoColors[0]);
      counter = 0;
    } else {
      bg?.classList.remove(logoColors[counter]);
      counter++;
      bg?.classList.add(logoColors[counter]);
    }
  });
</script>
