---
import { getCollection } from "astro:content";
import Card from "./Card.astro";

const drinks = await getCollection("drinks");
---

<section class="">
  <h2>About Us</h2>
  <ul>
    {
      drinks.map((drink) => {
        return (
          <Card
            title={drink.data.title}
            body={drink.body}
            image={drink.data.image}
          />
        );
      })
    }
  </ul>
</section>

<!-- 
title: "Cappucino"
description: "Lorem ipsum dolor sit amet"
pubDate: "Jul 08 2022"
heroImage: "/blog-placeholder-3.jpg"
 -->
