---
import { Image } from "astro:assets";
import pictureOfWill from "../assets/images/pictureOfWill.webp";
import pictureOfSybil from "../assets/images/sybil.webp";
---

<section
  id="About"
  class="px-4 py-16 bg-offwhite scroll-m-16 text-black drop-shadow-lg"
>
  <main class="flex flex-col items-center gap-12">
    <h2 class="text-5xl font-bold tracking-wide underline decoration-orangered">
      About
    </h2>
    <div
      class="flex flex-col m-auto lg:flex-row justify-between gap-8 xl:gap-20 items-center"
    >
      <Image
        src={pictureOfWill}
        alt="Will Turner, Owner of Syb Coffee"
        class="w-full max-w-2xl before:content-[''] before:bg-black before:h-full"
      />
      <div class="flex flex-col gap-4 items-center">
        <p
          class="text-left first-letter:font-bold indent-4 text-lg first-letter:text-3xl max-w-prose font-serif drop-shadow-sm"
        >
          Making good coffee is an art. I love making it for people, and I love
          to teach people how to make it. My passion for coffee started in
          college, where I worked as a barista at several local cafes. I quickly
          knew it was something I wanted to share with others. After a few
          years, I graduated from Kennesaw State University with a Culinary,
          Sustainability, and Hospitality degree. After years of developing my
          techniques at home and for my friends, I decided to open my mobile
          coffee catering business. If you want to learn how to make the best
          cup of coffee at home, I offer lessons. I will personally examine your
          equipment and coffee, and show you how to get the most out of what you
          have, so you can make a great cup of coffee too.
        </p>
        <p
          class="text-left indent-4 text-lg max-w-prose font-serif drop-shadow-sm"
        >
          We can help you with your events, including weddings, birthdays,
          employee appreciations, or if you just want a good cup of coffee.
          Choose SYB Coffee and we'll do our best to help you make lasting
          memories.
        </p>
        <span class="italic self-start"
          >- Will Turner, Owner-Operator of Syb Coffee, LLC</span
        >
      </div>
    </div>
    <div class="flex flex-col items-center">
      <figure>
        <Image
          src={pictureOfSybil}
          alt="Sybil the dog"
          class="w-full max-w-lg"
          quality="mid"
        />
        <figcaption class="italic text-lg text-center">
          "Syb" the Blue Heeler
        </figcaption>
      </figure>
    </div>
  </main>
</section>
