---
import { Image } from "astro:assets";
import pictureOfWill from "../assets/images/pictureOfWill.webp";
import pictureOfSybil from "../assets/images/sybil.webp";
---

<section id="About" class="px-4 py-16 bg-offwhite scroll-m-16 text-black">
  <main class="flex flex-col items-center gap-12">
    <h2 class="text-5xl font-bold tracking-wide underline decoration-orangered">About</h2>
    <div class="flex flex-col m-auto lg:flex-row justify-between gap-8 xl:gap-20 items-center">
      <Image src={pictureOfWill} alt="Will Turner, Owner of Syb Coffee" class="w-full max-w-2xl" />
      <div class="flex flex-col gap-4 items-center">
        <p class="text-left first-letter:font-bold indent-4 text-lg first-letter:text-3xl max-w-prose font-serif drop-shadow-sm">
          Good coffee is an art. I love making it for people, and I love to teach people how to make it, too. I got started with coffee in college, where I worked as a barista at several local cafes, and I knew it was something I wanted to bring to others. I graduated from Kennesaw State University with a Culinary, Sustainability, and Hospitality degree, and after years of developing my techniques at home and for my friends, I've decided to open my mobile coffee catering business. If you're wanting to learn how to make the best cup of coffee at home, I also offer lessons where I will personally examine your equipment and coffee, and show you how to get the most out of it.
        </p>
        <p class="text-left  indent-4 text-lg  max-w-prose font-serif drop-shadow-sm">
          If you're planning an event, from weddings, birthdays, employee appreciations, or you just want a good cup of coffee, choose SYB Coffee and we'll do our best to help make those events lasting memories.
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <Image src={pictureOfSybil} alt="Sybil the dog" class="w-full max-w-lg" quality="mid"/>
      <figcaption class="italic text-lg">"Syb" the Blue Heeler</figcaption>
    </div>
  </main>
</section>
