---
import { Image } from "astro:assets";
import pictureOfWill from "../assets/images/pictureOfWill.webp";
import pictureOfSybil from "../assets/images/sybil.webp";
---

<section
  id="About"
  class="px-4 py-16 bg-offwhite scroll-m-16 text-black drop-shadow-lg"
>
  <main class="flex flex-col items-center gap-12">
    <h2 class="text-5xl font-bold tracking-wide underline decoration-orangered">
      About
    </h2>
    <div
      class="flex flex-col m-auto lg:flex-row justify-between gap-8 xl:gap-20 items-center"
    >
      <Image
        src={pictureOfWill}
        alt="Will Turner, Owner of Syb Coffee"
        class="w-full max-w-2xl before:content-[''] before:bg-black before:h-full"
      />
      <div class="flex flex-col gap-4 items-center">
        <p
          class="text-left first-letter:font-bold indent-4 text-lg first-letter:text-3xl max-w-prose font-serif drop-shadow-sm"
        >
          Making coffee is an art. I love to make coffee for people, and I love
          to teach people how to make it. My passion for coffee started in
          college, while I worked as a barista at several cafes. I knew that
          quality coffee was something I wanted to share with others. While
          working as a barista, I graduated from Kennesaw State University with
          a Culinary, Sustainability, and Hospitality degree. After years of
          developing techniques at home and sharing them with friends, I opened
          a mobile coffee catering business. If you want to learn how to make
          the best cup of coffee at home, I offer lessons. I will personally
          evaluate your equipment and your coffee, and show you how to get the
          most out of what you have. I can teach you how to make a great cup of
          coffee too.
        </p>
        <p
          class="text-left indent-4 text-lg max-w-prose font-serif drop-shadow-sm"
        >
          We can help you with your events, including weddings, birthdays, and
          employee appreciation days. We can also help if you want to learn to
          make a good cup of coffee for yourself and your family. Choose SYB
          Coffee and we will do our best to help you make lasting memories and
          fantastic coffee.
        </p>
        <span class="italic self-start"
          >- Will Turner, Owner-Operator of Syb Coffee, LLC</span
        >
      </div>
    </div>
    <div class="flex flex-col items-center">
      <figure>
        <Image
          src={pictureOfSybil}
          alt="Sybil the dog"
          class="w-full max-w-lg"
          quality="mid"
        />
        <figcaption class="italic text-lg text-center">
          "Syb" the Blue Heeler
        </figcaption>
      </figure>
    </div>
  </main>
</section>
