---
import { getCollection } from "astro:content";
import Card from "./Card.astro";
const drinks = await getCollection("drinks");
---

<section id="About">
  <h2>About Us</h2>
  <ul>
    {drinks.map((drink) => <Card drink={drink} />)}
  </ul>
</section>

<!-- 
---
title: Cappucino
image: /blog-placeholder-3.jpg
---

A cappucino is a type of beverage. There's coffee in it. Wow so good. 
-->
