---
import type { CollectionEntry } from "astro:content";
interface Props {
  drink: CollectionEntry<"drinks">;
}
// const drinksCollection = defineCollection({
//   type: "content",
//   // Type-check frontmatter using a schema
//   schema: z.object({
//     title: z.string(),
//     image: z.string(),
//   }),
// });

const { title, image } = Astro.props.drink.data;
const { body } = Astro.props.drink;
---

<li class="flex flex-col">
  <img src="image" />
  <h2>
    {title}
  </h2>
  <p>{body}</p>
</li>
