---
import { Image } from "astro:assets";
let dogArray = [];
const dogImages = import.meta.glob("../assets/images/dogImages/*.png");
for (const path in dogImages) {
  let img = await dogImages[path]();
  dogArray.push(img);
}
---

<style>
  .marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
  }

  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* Enable animation */
  .marquee__content {
    animation: scroll 360s linear infinite;
  }
  /* Disable for people who prefer */
  @media (prefers-reduced-motion: reduce) {
    .marquee__content {
      animation-play-state: paused !important;
    }
  }
</style>

<!-- No JS here ;) -->
<div class="marquee" aria-label="A slideshow of dogs wearing silly outfits and drinking coffee.">
  <div class="marquee__content">
    {
      dogArray.map((img: any) => {
        return (
          <Image
            src={img.default}
            width={256}
            height={256}
            alt=""
            decoding="sync"
            class="w-[128px] h-[128px] md:w-[256px] md:h-[256px]"
          />
        );
      })
    }
  </div>

  <div class="marquee__content">
    {
      dogArray.map((img: any) => {
        return (
          <Image
            src={img.default}
            width={256}
            height={256}
            alt=""
            decoding="sync"
            class="w-[128px] h-[128px] md:w-[256px] md:h-[256px]"
          />
        );
      })
    }
  </div>
</div>
