---
const images = await Astro.glob("../assets/images/*").then((images) => {
  return images.map((img) => img.default);
});
---

<style>
  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  .swiper-slide {
    width: auto;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
</style>

<div class="swiper z-0">
  <div class="swiper-wrapper">
    {
      images.map((img) => {
        return (
          <div class="swiper-slide">
            <img alt="An admiral cat" src={img.src} />
          </div>
        );
      })
    }
  </div>
</div>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script is:inline>
  var swiper = new Swiper(".swiper", {
    freeMode: true,
    speed: 20000,
    loop: true,
    slidesPerView: "auto",
    autoplay: {
      delay: 1,
      disableOnInteraction: false,
    },
  });
</script>
