---
const images = await Astro.glob("../assets/images/dogImages/*").then(
  (images) => {
    return images.map((img) => img.default);
  }
);

const marqueeContainerStyles = {};
const marqueeContentStyles = {};
---

<style>
  .marquee {
    position: relative;
    display: flex;
    overflow-x: scroll;
    user-select: none;
  }

  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* Enable animation */
  .marquee__content {
    animation: scroll 700s linear infinite;
  }
  /* Disable for people who prefer */
  @media (prefers-reduced-motion: reduce) {
    .marquee__content {
      animation-play-state: paused !important;
    }
  }

  @media (width > 800px) {
    .marquee {
      overflow: hidden;
    }
  }
</style>
<!-- No JS here ;) -->
<div class="marquee z-0">
  <ul class="marquee__content">
    {
      images.map((img) => {
        return <img draggable="false" src={img.src} />;
      })
    }
  </ul>

  <ul class="marquee__content">
    {
      images.map((img) => {
        return <img draggable="false" src={img.src} />;
      })
    }
  </ul>
</div>
