---
const images = await Astro.glob("../assets/images/*").then((images) => {
  return images.map((img) => img.default);
});
---

<style>
  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  .swiper-slide {
    width: auto;
  }
</style>

<div class="swiper">
  <div class="swiper-wrapper">
    {
      images.map((img) => {
        return (
          <div class="swiper-slide">
            <img alt="An admiral cat" src={img.src} />
          </div>
        );
      })
    }
  </div>

  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script is:inline>
    var swiper = new Swiper(".swiper", {
      spaceBetween: 0,
      grabCursor: true,
      freeMode: true,
      speed: 40000,
      loop: true,
      slidesPerView: "auto",
      autoplay: {
        delay: 1,
        disableOnInteraction: false,
      },
    });
  </script>
</div>
