---
import Carousel from "./Carousel.astro";
---

<section id="Contact" class="overflow-hidden flex flex-col items-center py-16 gap-10 bg-royal">
    <div
    id="logo-button"
    class="relative border-4 border-orangered rounded-xl flex flex-col items-center"
  >
  
    <h2
      class="text-offwhite drop-shadow-2xl text-4xl [@media(min-width:404px)]:text-5xl font-bold tracking-wide rounded-lg select-none p-4"
    >
      Contact
    </h2>
  </div>
  <Carousel />
<form action="" class="form-control w-full max-w-xs"></form>
<label for="email">Email address:</label>
  <input id="email" type="text" class="input">
</section>
