---
import { Image } from "astro:assets";
import coffeeGif from "../assets/images/coffee.webm";
import { navItems } from "../consts";
const { SYB } = Astro.props;
---
<div class="bg-royal">
<footer class="m-auto flex flex-col py-2 pl-2 items-stretch max-w-screen-2xl">
  <div class="flex justify-between">
    <div class="inline-flex items-center">
      <video
        src={coffeeGif}
        class="max-h-5"
        loop
        autoplay
        disablepictureinpicture
        muted></video>
      <a
        class="btn btn-ghost normal-case -ml-1 text-xl font-bold text-orangered px-2"
        href="#Home"
      >
        SYB <Image src={SYB} alt="" class="w-6 -ml-2 -mr-2 inline-block" /> Coffee</a
      >
    </div>
    <nav class="inline-block">
      <ul class="flex h-full pr-0.5">
        {
          navItems.map((el) => (
            <li class="flex flex-col justify-center text-offwhite px-1">
              <a class="text-xs hover:text-orangered" href=`#${el}`>{el}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
  <small class="text-center text-offwhite">©2023 Andrew Sneed</small>
</footer>
</div>