---
import { Image } from "astro:assets";
import coffeeGif from "../assets/images/coffee1.gif";
import { navItems } from "../consts";
const { SYB } = Astro.props;
---
<div class="bg-royal -mt-1 flex justify-center">
<footer class="flex flex-col py-4 items-stretch w-full max-w-screen-2xl gap-4">
  <div class="flex flex-col items-center [@media(min-width:380px)]:flex-row [@media(min-width:360px)]:justify-between px-4">
    <div class="inline-flex items-center justify-between">
      <img
        src={coffeeGif.src}
        alt=""
        class="w-5 h-5"></video>
      <a
        class="btn btn-ghost normal-case -ml-1 text-xl font-bold text-orangered px-2"
        href="#Home"
      >
        SYB <Image src={SYB} alt="" class="w-6 -ml-2 -mr-2 inline-block" /> Coffee</a
      >
    </div>
    <nav class="inline-block">
      <ul class="flex h-full pr-0.5">
        {
          navItems.map((el) => (
            <li class="flex flex-col justify-center text-offwhite px-1">
              <a class="text-xs hover:text-orangered" href=`#${el}`>{el}</a>
            </li>
          ))
        }
      </ul>
      </nav>
    </div>
    <small class="text-center text-offwhite">©2023 Andrew Sneed</small>
  </footer>
</div>