---
import { Image } from "astro:assets";
//@ts-ignore
import heroBackground from "../assets/images/coffee-art.avif";
const { SYB } = Astro.props;
---

<main
  id="Home"
  class="hero min-h-[300px] mx-auto bg-center"
  style=`background-image: url(${heroBackground})`
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-center text-neutral-focus flex flex-col py-20">
    <div
      id="logo-button"
      class="relative border-4 border-orangered rounded-md flex flex-col items-center gap-0"
    >
      <div
        id="logo-background"
        class="absolute bg-royal opacity-75 h-full w-full"
      >
      </div>
      <h1
        class="text-orangered drop-shadow-2xl text-4xl [@media(min-width:404px)]:text-5xl font-bold tracking-wide rounded-lg select-none p-4"
      >
        SYB <Image
          src={SYB}
          width={100}
          height={138}
          alt=""
          class="w-16 -mt-4 -mr-2 inline-block"
        /> Coffee
      </h1>
    </div>
    <p class="text-xl text-offwhite tracking-widest max-w-md">
      Premium, freshly-made drinks for events of all kinds.
    </p>
  </div>
</main>
