---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

interface Props {
  blogPosts: CollectionEntry<"blog">;
}

const { body } = Astro.props.blogPosts;
const { image, title } = Astro.props.blogPosts.data;
---

<main>
  <article>
    <div class="hero-image">
    </div>
    <div class="prose">
      <div class="title">
        <h1>{title}</h1>
        <hr />
        {body}
      </div>
      <slot />
    </div>
  </article>
</main>
