---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

interface Props {
  blogPosts: CollectionEntry<"blog">;
}

const { body } = Astro.props.blogPosts;
const { image, title } = Astro.props.blogPosts.data;
---

<main>
  <article>
    <div class="hero-image">
      {image && <img width={1020} height={510} src={image.src} alt="" />}
    </div>
    <div class="prose">
      <div class="title">
        <!-- <div class="date">
          <FormattedDate date={pubDate} />
        </div> -->
        <h1>{title}</h1>
        <hr />
        {body}
      </div>
      <slot />
    </div>
  </article>
</main>
