---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/gif" href="/coffee-bean1.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-concrete drawer drawer-end">
    <input id="toggle-menu" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      <slot />
    </div>
    <div class="drawer-side">
      <label class="drawer-overlay"></label>
      <ul class="menu w-80 h-full bg-royal text-lg">
        <li><a class="text-end">Home</a></li>
        <li><a>About</a></li>
        <li><a>Menu</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
  </body>
</html>
<style is:global>
  :root {
  }
  html {
  }
  code {
  }
</style>
